.footer-main {
  .block {
    float: left;
  }
  .block-group {
    display: inline-block;
  }
  .block-group::after {
      clear: both;
  }
}

@media screen and (min-width: @desktopViewportWidth) {
  .footer-main {
    .footer--columns {
      .unitize-padding(0, 0, 70, 0, 16);
    }
  }
}
